head
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='keywords', content='')
  title #{title}
  base(href='/')
  link(rel="stylesheet" href="css/main.css")
  style(type='text/css', media='screen').
    header, nav, main { opacity:0; }
  noscript
    style(type='text/css').
      header, nav, main { opacity:1; }